html, body {
    overflow-y: auto; 
    height: 100%; 
}

.cancha{
    padding: 20px 40px;
}
.cancha-card{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    height: 300px;
}
.cancha-card-image{
    height: 100%;
    border-radius: 25px;
}
.cancha-info{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 25px;
}
.cancha-info button{
    background: none;
    border-radius: 10px;
}
.cancha-info > p{
    font-size: 24px;
    font-weight: bold;
}
.active-day{
    background-color: aquamarine;
}
.dia-reserva{
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    gap: 50px;
    text-align: center;
    margin-top: 30px;
    scrollbar-width: none;
}
.dia-reserva div{
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
.hora-reserva{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.hora-reserva p{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: gray;
}
.opciones-reserva button{
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
.relacionado-container{
    margin: 0 auto;
    max-width: 600px;
}