body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
  font-family: 'Lato', sans-serif;
}

.header {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  object-fit: cover;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.header .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.slide-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
  max-width: 500px;
  z-index: 10;
}

.reserve-btn {
  background-color: #F27F1A;
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.reserve-btn:hover {
  background-color: #d2691e;
}

@media (max-width: 1024px) {
  .slider {
    height: 80vh;
  }

  .slide-text {
    bottom: 30px;
    left: 20px;
    font-size: 1rem;
    max-width: 300px;
  }

  .reserve-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 70vh;
  }

  .header .arrow {
    font-size: 1.5rem;
    padding: 0.3rem; 
  }

  .slide-text {
    font-size: 0.9rem;
    bottom: 20px;
    left: 10px;
    max-width: 250px;
  }

  .reserve-btn {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 60vh; 
  }

  .header .arrow {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .slide-text {
    font-size: 0.8rem;
    bottom: 10px;
    left: 5px;
    max-width: 200px;
  }

  .reserve-btn {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}