body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
  font-family: 'Lato', sans-serif; /* Fuente Lato */
  scroll-behavior: smooth; /* Suaviza el desplazamiento */
}

.header {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  object-fit: cover;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.header .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.slide-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
  max-width: 500px;
  z-index: 10;
}

.slide-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slide-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.reserve-btn {
  background-color: #F27F1A;
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: #d2691e;
}

/* Responsividad */
@media (max-width: 1024px) {
  .slide-text {
      left: 20px;
      bottom: 40px;
      max-width: 400px;
  }

  .slide-text h1 {
      font-size: 2.5rem;
  }

  .slide-text p {
      font-size: 1rem;
  }

  .reserve-btn {
      font-size: 0.9rem;
      padding: 0.7rem 1.3rem;
  }
}

@media (max-width: 768px) {
  .slide-text {
      left: 15px;
      bottom: 30px;
      max-width: 300px;
  }

  .slide-text h1 {
      font-size: 2rem;
  }

  .slide-text p {
      font-size: 0.9rem;
  }

  .reserve-btn {
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
  }

  .header .arrow {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .slide-text {
      left: 10px;
      bottom: 20px;
      max-width: 250px;
  }

  .slide-text h1 {
      font-size: 1.5rem;
  }

  .slide-text p {
      font-size: 0.8rem;
  }

  .reserve-btn {
      font-size: 0.7rem;
      padding: 0.5rem 0.8rem;
  }

  .header .arrow {
      font-size: 1.2rem;
  }
}
